@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Oswald', sans-serif;
    color: white;
}
body{
    background: linear-gradient(to right top,#6590df,#6c83eb);
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    position: relative;
}
nav{
    min-height: 9vh;
    width: 100%;
    background: linear-gradient(to left, rgba(255, 255, 255, 0.1),rgba(255,255,255,.2));
    position: relative;
}
button{
    border: 0px;
    background: linear-gradient(to right bottom, rgba(255,255,255,0.5),rgba(255,255,255,.5));
    cursor: pointer;
    border: solid white .1px;
}
.F-btn{
    position: absolute;
    top: 10px;
    right: 180px;
    border-radius: 0 5px 5px 0;
    border-left: 0;
    width: 2%;
}
.C-btn{
    position: absolute;
    top: 10px;
    right: 207px;
    border-radius: 5px 0 0 5px;
    border-right: 0;
    width: 2%;
}
.city-name{
    position: absolute;
    top: 10px;
    left: 207px;
}
button:hover{
    background: linear-gradient(to right bottom, rgba(255,255,255,0.6),rgba(255,255,255,.8));
    color: gray;
}
.selected{
    background: linear-gradient(to right bottom, rgba(255,255,255,0.8),rgba(255,255,255,.95));
    color: gray;
}

.container{
    background: white;
    min-height: 50vh;
    width: 60%;
    position: absolute;
    top: 70px;
    border-radius: 5px;
    background: linear-gradient(to left, rgba(255,255,255,0.2),rgba(255,255,255,.1));
}

input{
    background: linear-gradient(to right, rgba(255,255,255,0.4),rgba(255,255,255,.2));
    border: 0px;
    width: 20%;
    min-height: 5vh;
    position: absolute;
    top: 7px;
    left: 180px;
    border-radius: 20px;
    padding-left: 25px;
}
input:focus{
    border: solid white .1px;
    border-radius: 20px;
    outline: none;
}
.search-btn{
    min-height: 4vh;
    position: absolute;
    top: 10px;
    left: 455px;
    border-radius: 15px;
    width: 5%;
}
.inner-container{
    position: relative;
    min-height: 50vh;
    width: 60%;
}
.temp{
    font-size: 4vw;
    display: inline;
    position: absolute;
    top: 60px;
    left: 90px;
}

.icon{
    position: absolute;
    top: 60px;
    left: 5px;
}
.detail{
    position: absolute;
    top: 84px;
    left: 290px;
    font-size: 3vw;
}
.description{
    position: absolute;
    top: 160px;
    left: 293px;
}
.feels-like{
    position: absolute;
    top: 160px;
    left: 80px;
}
.sunrise{
    position: absolute;
    top: 100px;
    left: 500px;
}
.sunrise-icon{
    width:5vw;
    position: absolute;
    top: 85px;
    left: 550px;
}
.sunrise-time{
    position: absolute;
    top: 140px;
    left: 500px;
}
.sunset{
    position: absolute;
    top: 100px;
    left: 650px;
}
.sunset-icon{
    width:5vw;
    position: absolute;
    top: 85px;
    left: 700px;
}
.sunset-time{
    position: absolute;
    top: 140px;
    left: 650px;
}
.title{
    position: absolute;
    top: 10px;
    left: 10px;
}
.max,
.wind,
.humidity,
.min,
.pressure,
.city-name
{
    font-weight: 200;
    font-size: 25px;
}
.title{
    font-size: 26px;
}
.max-value,
.min-value,
.humidity-value,
.pressure-value,
.wind-value{
    font-size: 20px;
}
.sunrise-time,
.sunset-time,
.feels-like,
.description{
    font-weight: 200;
    font-size: 20px;
}

.max{
    position: absolute;
    bottom: 50px;
    left:50px
}
.max-value{
    position: absolute;
    bottom: 20px;
    left:50px
}
.min{
    position: absolute;
    bottom: 50px;
    left:240px;
}
.min-value{
    position: absolute;
    bottom: 20px;
    left:240px;
}
.wind{
    position: absolute;
    bottom: 50px;
    left:420px
}
.wind-value{
    position: absolute;
    bottom: 20px;
    left:420px
}
.humidity{
    position: absolute;
    bottom: 50px;
    left:530px
}
.humidity-value{
    position: absolute;
    bottom: 20px;
    left:530px
}
.pressure{
    position: absolute;
    bottom: 50px;
    left:640px
}
.pressure-value{
    position: absolute;
    bottom: 20px;
    left:640px
}
.error-message{
    color: rgb(255, 92, 92);
    position: absolute;
    left: 190px;
    top:37px;
    font-size: 15px;
}
#spinner1:not([hidden]) {
    position: absolute;
    top: -60px;
    left: 90px;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: baseline;
    align-items: center;
}

#spinner1::after {
    content: "";
    width: 50px;
    height: 50px;
    border: 2px solid #f3f3f3;
    border-top: 3px solid #ffffff;
    border-radius: 100%;
    will-change: transform;
    animation: spin 1s infinite linear
}
#spinner2:not([hidden]) {
    position: absolute;
    top: -60px;
    left: 300px;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: baseline;
    align-items: center;
}

#spinner2::after {
    content: "";
    width: 50px;
    height: 50px;
    border: 2px solid #f3f3f3;
    border-top: 3px solid #ffffff;
    border-radius: 100%;
    will-change: transform;
    animation: spin 1s infinite linear
}
#spinner3:not([hidden]) {
    position: absolute;
    top: -30px;
    left: 0;
    right: -545px;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#spinner3::after {
    content: "";
    width: 20px;
    height: 20px;
    border: 2px solid #f3f3f3;
    border-top: 3px solid #ffffff;
    border-radius: 100%;
    will-change: transform;
    animation: spin 1s infinite linear
}
#spinner4:not([hidden]) {
    position: absolute;
    top: -30px;
    left: 0;
    right: -830px;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#spinner4::after {
    content: "";
    width: 20px;
    height: 20px;
    border: 2px solid #f3f3f3;
    border-top: 3px solid #ffffff;
    border-radius: 100%;
    will-change: transform;
    animation: spin 1s infinite linear
}
#spinner5:not([hidden]) {
    position: absolute;
    top: 250px;
    left: 90px;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: baseline;
    align-items: center;
}

#spinner5::after {
    content: "";
    width: 30px;
    height: 30px;
    border: 2px solid #f3f3f3;
    border-top: 3px solid #ffffff;
    border-radius: 100%;
    will-change: transform;
    animation: spin 1s infinite linear
}
#spinner6:not([hidden]) {
    position: absolute;
    top: 250px;
    left: 240px;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: baseline;
    align-items: center;
}

#spinner6::after {
    content: "";
    width: 30px;
    height: 30px;
    border: 2px solid #f3f3f3;
    border-top: 3px solid #ffffff;
    border-radius: 100%;
    will-change: transform;
    animation: spin 1s infinite linear
}
#spinner7:not([hidden]) {
    position: absolute;
    top: 250px;
    right: -240px;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: baseline;
    align-items: center;
}

#spinner7::after {
    content: "";
    width: 30px;
    height: 30px;
    border: 2px solid #f3f3f3;
    border-top: 3px solid #ffffff;
    border-radius: 100%;
    will-change: transform;
    animation: spin 1s infinite linear
}
#spinner8:not([hidden]) {
    position: absolute;
    top: 250px;
    left: 550px;
    right: -5450px;
    bottom: 0;
    display: flex;
    justify-content: baseline;
    align-items: center;
}

#spinner8::after {
    content: "";
    width: 30px;
    height: 30px;
    border: 2px solid #f3f3f3;
    border-top: 3px solid #ffffff;
    border-radius: 100%;
    will-change: transform;
    animation: spin 1s infinite linear
}
#spinner9:not([hidden]) {
    position: absolute;
    top: 250px;
    left: 650px;
    right: -545px;
    bottom: 0;
    display: flex;
    justify-content: baseline;
    align-items: center;
}

#spinner9::after {
    content: "";
    width: 30px;
    height: 30px;
    border: 2px solid #f3f3f3;
    border-top: 3px solid #ffffff;
    border-radius: 100%;
    will-change: transform;
    animation: spin 1s infinite linear
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media (max-width:1250px){
    .container{
        width: 70%;
    }
    .F-btn{
        position: fixed;
        left: 70%;
        width: 3vw;
    }
    .C-btn{
        position: fixed;
        left: 67%;
        width: 3vw;
    }
}
@media (max-width:1075px){
    .container{
        width: 75%;
    }
    .F-btn{
        position: fixed;
        left: 70%;
        width: 3vw;
    }
    .C-btn{
        position: fixed;
        left: 67%;
        width: 3vw;
    }
}
@media (max-width:1005px){
    .container{
        width: 80%;
    }
    .F-btn{
        position: fixed;
        left: 70%;
        width: 3vw;
    }
    .C-btn{
        position: fixed;
        left: 67%;
        width: 3vw;
    }
}
@media (max-width:940px){
    .container{
        width: 85%;
    }
    .F-btn{
        position: fixed;
        left: 70%;
        width: 3vw;
    }
    .C-btn{
        position: fixed;
        left: 67%;
        width: 3vw;
    }
}
@media (max-width:880px){
    .container{
        width: 90%;
    }
    .F-btn{
        position: fixed;
        left: 70%;
        width: 3vw;
    }
    .C-btn{
        position: fixed;
        left: 67%;
        width: 3vw;
    }
}
@media (max-width:830px){
    .container{
        width: 95%;
    }
    .F-btn{
        position: fixed;
        left: 70%;
        width: 3vw;
    }
    .C-btn{
        position: fixed;
        left: 67%;
        width: 3vw;
    }
}
@media (max-width: 780px) and (min-width: 750px){
    .container{
        width: 100%;
    }
    .F-btn{
        position: fixed;
        left: 70%;
        width: 3vw;
    }
    .C-btn{
        position: fixed;
        left: 67%;
        width: 3vw;
    }
}

@media (max-width:749px) {
    .container{
        min-height:680px;
        width: 95%;
        margin: auto;
        top: 20px;
    }
    nav{
        width: 100%;
    }
    .inner-container{
        width: 100%;
    }
    .max,
    .wind,
    .humidity,
    .min,
    .pressure,
    .city-name
    {
        font-weight: 200;
        font-size: 27px;
    }
    .title{
        font-size: 30px;
        left: 30px;
    }
    .max-value,
    .min-value,
    .humidity-value,
    .pressure-value,
    .wind-value{
        font-size: 25px;
    }
    .sunrise-time,
    .sunset-time,
    .feels-like,
    .description{
        font-weight: 200;
        font-size:15px;
    }
    .temp{
        top: 87px;
        font-size: 40px;
    }
    .feels-like{
        top: 150px;
        left: 90px
    }
    .icon{
        top:65px;
    }
    .detail{
        top:85px;
        left:260px;
        font-size: 5vw;
    }
    .description{
        top:120px;
        left:260px;
        font-size: 4vw;
    }

    .city-name{
        top: 45px;
        left: 30px;
    }
    .sunrise{
        top:180px;
        left: 50px;
    }
    .sunrise-icon{
        width: 30px;
        top: 180px;
        left: 100px;
    }
    .sunrise-time{
        top: 200px;
        left: 60px;
    }
    .sunset{
        top: 180px;
        left:160px;
    }
    .sunset-icon{
        width: 30px;
        top: 180px;
        left: 210px;
    }
    .sunset-time{
        top: 200px;
        left: 167px;
    }
    .max{
        top: 250px;
        left:20%;
        
    }
    .max-value{
        top: 280px;
        left: 20%;
    }
    .min{
        top: 340px;
        left:20%;
    }
    .min-value{
        top:370px;
        left: 20%;
    }
    .wind{
        top: 420px;
        left:20%;
    }
    .wind-value{
        top: 445px;
        left: 20%;
    }
    .humidity{
        top: 500px;
        left:20%;
    }
    .humidity-value{
        top: 530px;
        left: 20%;
    }
    .pressure{
        top: 590px;
        left:20%
    }
    .pressure-value{
        top: 620px;
        left: 20%;
    }
    input{
        width: 40%;
        left: 10%;
    }
    .search-btn{
        left: 53%;
        width: 35px;
    }
    .F-btn{
        position: fixed;
        left: 70%;
        width: 4vw;
    }
    .C-btn{
        position: fixed;
        left: 66%;
        width: 4vw;
    }
    .error-message{
        left: 90px;
    }
    #spinner5:not([hidden]){
        top: 280px;
        left: 130px;
    }
    #spinner6:not([hidden]){
        top: 400px;
        left: 130px;
    }
    #spinner7:not([hidden]){
        top: 490px;
        left: 130px;
    }
    #spinner8:not([hidden]){
        top: 550px;
        left: 130px;
    }
    #spinner9:not([hidden]){
        top: 650px;
        left: 130px;
    }
    #spinner3:not([hidden]){
        display: none;
    }
    #spinner4:not([hidden]){
        display: none;
    }
}
